@import "mixins";
.header {
    @include flex(none, space-between, center);
    padding: 20px 40px;
    text-transform: uppercase;
    font-family: $family;
    &-logo {
        font-size: 20px;
        font-weight: 1000;
        text-align: center;
        color: #000;
    }
    &-navigation {
        @include flex(none, space-around, flex-start);
        justify-items: center;
        font-size: 14px;
        font-family: $wrk-sans-family;
        letter-spacing: 0.1em;
        &-link {
            margin: 5px 10px;
            color: rgb(168, 168, 168);
            cursor: pointer;
            &:hover {
                color: #000;
                transition: color .3s ease-in;
            }
            &:last-child {
                font-size: 17px;
                color: #fff;
                margin: 0px 10px;
                padding: 5px 15px;
                background-color: $light-green;
            }
        }
    }
}